<style>

.visibility {
    pointer-events: none;
    cursor: default;
    text-decoration:none; 
    color:#999999;
}

.select2-container {
    width: 100%;
}

.date-picker {
    width: 100%;
    height: 34px;
    padding-left: 5px;
}

</style>

<div class="row">
    <div class="col-xs-12 title"> 
        <h2>Reporte Marcador de Llegada</h2>
        <p></p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
    	<div class="card">
            <div class="panel-heading blue detail" ng-click="toggleCustom()"><h4>Filtrar Reporte</h4></div>
            <div class="card-body" ng-show="custom">
                <div class="col-xs-12 col-md-6 col-lg-6 col-sm-6">
                    <div class="form-group">
                        <label>Seleccione Campus :</label>
                        <select ui-select2="select2Options" multiple ng-model="myModel.cam" class="">
                            <option ng-repeat="campus in catalogues.data.campus" value="{{campus.id}}">{{campus.name}}</option>
                        </select>
                    </div>
                </div>
                
                <div class="col-xs-12 col-md-6 col-lg-6 col-sm-6">
                    <div class="form-group">
                        <label>Seleccione Fecha :</label>
                        <div class="input-group">
                            <span name="daterangepicker3" class="input-group-addon "><i class="fa fa-calendar"></i></span>
                            <input date-range-picker class=" date-picker" type="text" ng-model="myModel.date" />
                        </div>
                    </div>
                    <!-- <pre>{{myModel}}</pre> -->
                </div>

                <div class="col-xs-12 col-md-6 col-lg-6 col-sm-6">
                    <div class="form-group">
                        <label>Seleccione Facultad :</label>
                        <select ui-select2="select2Options" multiple ng-model="myModel.fac" class="">
                            <option ng-repeat="facultades in catalogues.data.facultad" value="{{facultades.id}}">{{facultades.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-xs-12 col-md-6 col-lg-6 col-sm-6">
                    <div class="form-group">
                        <label>Seleccione Periodo : </label>
                        <select class="" ui-select2="select2Options" multiple ng-model="myModel.per">
                            <option ng-repeat="periodos in catalogues.data.periodo" value="{{periodos.id}}">{{periodos.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6 col-sm-6">
                    <button md-ink-ripple="" class="md-btn md-raised m-b btn-fw azul-planner md-ink-ripple" ng-click="analytics.viewPanel(myModel);analytics.toggleCustom();" ng-disabled="myModel.date == ''" >Filtrar</button>
                </div>
            </div>
            <!--<div ng-show="custom"></div>-->
        </div>
    </div>
</div>

<div class="panel" ng-if="panelReport">
    <!--<div class="panel-heading blue detail">
        <h3>Estadisticas Asistencia</h3>
    </div>-->
    <div>
    <p></p>
        <div class="row">
            <div class="col-xs-12">
                <button type="button" md-ink-ripple="" class="md-btn md-raised m-b btn-fw azul-planner md-ink-ripple" ng-click="hideGrid = !hideGrid">{{ hideGrid && 'Ver' || 'Ocultar' }} Detalle Asistencia
              </button>

            </div>
        </div>
        
        <div class="row m-b" ng-if="!hideGrid">
        	<div class="col-xs-12">
                <div id="grid1" ui-grid="gridDetalles" ui-grid-tree-view ui-grid-resize-columns ui-grid-exporter ui-grid-pagination class="grid m-b" ></div>
        	</div>
        </div>

        <div class="row no-gutter m-b" >
            <div class="col-xs-12 col-md-5">
                <div>
                    <h4>Tabla Asistencia Docentes por Campus</h4>
                    <div id="secondGrid" ui-grid="gridCampus" ui-grid-resize-columns class="grid m-b" ui-grid-exporter></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-7">
                <div class="card">
                    <div class="card-body">
                        <highchart id="chart1" config="chartCampus" class="span10" stacked="false"></highchart>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="row no-gutter m-b" >
            <div class="col-xs-12 col-md-5">
                <div>
                    <h4>Tabla Asistencia Docentes por Facultad</h4>
                    <div id="secondGrid" ui-grid="gridFacultad"  ui-grid-resize-columnsclass="grid m-b"></div>
                </div>
            </div>

            <div class="col-xs-12 col-md-7">
                <div class="card">
                    <div class="card-body">
                        <highchart id="chart1" config="chartFacultad" class="span10" stacked="false"></highchart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
