
<style>

    .red {
        color: white;
        background-color: #468ac2 !important;
    }
    
    .test {
        background-color: #a7abae !important;
    }

    .evento {
        color: red;  
    }

    .select2-container {
        width: 100%;
    }

    .date-picker {
        width: 100%;
        height: 34px;
        padding-left: 5px;
    }

    .show-loader{
        display:block;
    }

</style>

<div class="row">
    <div class="col-xs-12 title"> 
        <h2>Uso de Infraestructura</h2>
        <p></p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-card">
            <div class="panel-heading blue detail"><h4>Filtrar Reporte</h4></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-md-6 col-lg-6 col-sm-6">
                        <div class="form-group">
                            <label>Campus :</label> 
                            <select  class='form-control field-required' ng-model="myModel.cam" required>
                                <option value="" disabled selected>Seleccione Campus</option>
                                <option ng-repeat="campus in catalogues.data.campus" value="{{campus.id}}">{{campus.name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6 col-lg-6 col-sm-6"> 
                        <div class="form-group">
                            <label>Edificio :</label>
                            <select class='form-control field-required' ng-model="myModel.edi" class="">
                                <option value="" disabled selected>Seleccione Edificio</option>
                                <option ng-repeat="edificios in catalogues.data.edificios[myModel.cam]" value="{{edificios.id}}">{{edificios.name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6 col-lg-6 col-sm-6">
                        <div class="form-group">
                            <label>Fecha :</label>
                            <div class="input-group">
                                <span name="daterangepicker3" class="input-group-addon "><i class="fa fa-calendar"></i></span>
                                <input type="text" class="date-picker" datepicker-popup="mediumDate" is-open="infrastructure.valuationDatePickerIsOpen" ng-click="infrastructure.valuationDatePickerOpen()" ng-model="myModel.date" placeholder="Seleccione Fecha" />
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6 col-lg-6 col-sm-6">
                        <div class="form-group">
                            <label></label>
                            <div class="input-group">
                                <button md-ink-ripple="" class="md-btn md-raised m-b btn-fw azul-planner md-ink-ripple" ng-click="infrastructure.loadReport();varShowLoader='show-loader'"  ng-disabled="myModel.date == '' ">Filtrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel" ng-if="panelReport"> 
    <div class="panel-heading blue detail">
        <h3>Reporte de uso de Infraestructura</h3>
    </div>

    <p></p>

    <div>
        <div class="row m-b" >
            <div class="col-xs-12">
                <md-progress-circular ng-class="varShowLoader" md-mode="indeterminate" aria-valuemin="1" aria-valuemax="100" role="progressbar" class="md-default-theme center-block" style="display:none;transform: scale(1);">
                    <div class="md-spinner-wrapper">
                        <div class="md-inner">
                            <div class="md-gap"></div>
                            <div class="md-left">
                                <div class="md-half-circle"></div>
                            </div>
                            <div class="md-right">
                                <div class="md-half-circle"></div>
                            </div>
                        </div>
                    </div>
                </md-progress-circular>

                <div id="grid1" ui-grid="gridOptions" ui-grid-resize-columns ui-grid-exporter  class="grid m-b" style="height:600px" >
                    
                </div>
            </div>
        </div>
    </div>
</div>
