<style>
 
.suspendido {
color: white;  background-color: #d7634a !important;
}
.menores {
color: white;  background-color: #a8c329 !important;
}
.select2-container {
    width: 100%;
}
.date-picker {
    width: 100%;
    height: 34px;
    padding-left: 5px;
}
 
</style>
<div class="row">
    <div class="col-xs-12 title">
        <h2>ESTATUS EVENTOS</h2>
        <p></p>
    </div>
</div>
 
<div class="row">
    <div class="col-xs-12">
        <div class="card">
        <div class="panel-heading blue detail"><h4>Estatus Eventos por Campus</h4></div>
    <div class="card-body">
                               
    <div class="col-xs-12 col-md-8 col-lg-8 col-sm-8">
        <div class="form-group">
            <label>Seleccione Fecha :</label>
            <div class="input-group">
                <span name="daterangepicker3" class="input-group-addon "><i class="fa fa-calendar"></i></span>
                <input date-range-picker class="date-picker" type="text" ng-model="myModel.date" />
            </div>
        </div>
 
    </div>
 
 
 
    <div class="col-xs-12 col-md-4 col-lg-4 col-sm-4">
        <ul>
            <button md-ink-ripple="" class="md-btn md-raised m-b btn-fw azul-planner md-ink-ripple" ng-click="status.viewPanel(myModel)" ng-disabled="myModel.date == '' ">Filtrar</button>
        </ul>
    </div>
</div>                          
</div>    
</div>
</div>
 
<div ng-if="panelReport">
<div class="panel" >
<div class="panel-heading blue detail">
      <h3>Estadisticas Eventos</h3>
    </div>
 
    <p></p>    
    <div>
 
        <div class="row m-b" >
 
           <div class="col-xs-12 col-md-5">
 
              <div>
 
                <h4>Estatus Eventos por Sede</h4>
               
                <div id="secondGrid" ui-grid="gridDetalles" ui-grid-resize-columns class="grid m-b" ui-grid-exporter></div>
            </div>
        </div>
        <div class="col-xs-12 col-md-7">
          <div class="card">
             <div class="card-body">
                <highchart id="chart1" config="chartCampus" class="span10" stacked="false"></highchart>
            </div>
        </div>
    </div>
        </div>
       
    </div>
</div>
        <!-- <div class="row">
            <div class="col-xs-12">
                <div class="card">
                <div class="panel-heading blue detail"><h4>Estatus Eventos por Facultad</h4></div>
            <div class="card-body">
                                       
             <highchart id="chart1" config="chartFacultad" class="span10" stacked="false"></highchart>
            </div>
                                 
            </div>    
            </div>
        </div> -->
</div>