 <style>
  .modal-header, h3, .close {
      background-color: #0069a0;
      color:white !important;
      text-align: center;
      font-size: 25px;
  }
  </style>

<div class="modal-header ">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="detailsTeacher.cancel()">
      <span aria-hidden="true">&times;</span>
      </button>
          <h4>Detalle Asistencia Docente</h4>
</div>
   <p class="card-heading"><b>Nombre Docente : {{nameDocente}}  /Codigo Docente : {{idDocente}}</b></p>
    <!-- {{model}} -->
<div class="modal-body">
        <div ui-grid="gridOptions" ui-grid-resize-columns ui-grid-exporter ui-grid-move-columns class="grid"></div>
</div>  
